@import "tailwindcss";

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

@keyframes logospin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.logo-spin-manual {
	animation: logospin 10s linear infinite;
}
