.logo-navbar-img {
	padding: 0.5em;
	will-change: filter;
	transition: filter 300ms;
	filter: drop-shadow(2px 2px #cbd8e5);
	animation: logo-spin 10s linear infinite;
}

.logo-navbar-img:hover {
	filter: drop-shadow(0 0 1em #cbd8e5);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.navbar {
	margin-bottom: auto;
	width: 100%;
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 400;
	font-style: normal;
	padding-bottom: 2.5rem;
}

.logo-content-wrapper {
	display: flex;
	margin-left: 5px;
	align-items: center;
	border-radius: 5px 5px 0 5px;
}

.logo-content a {
	display: flex;
	grid-template-rows: auto;
	justify-items: center;
	align-items: center;
}

.me-auto .link-item:link {
	color: var(--line-text-color);
	font-size: x-large;
	font-weight: bold;
}

div .navbar > .container {
	display: flex;
	background-color: rgb(68, 68, 68, 0.75);
	border-radius: 25px;
}

.hamburger-menu-wrapper {
	position: fixed;
	display: flex;
	flex-flow: column;
	margin: 0;
	border: 3px solid rgb(68, 68, 68, 0.75);
	cursor: pointer;
	width: 50px;
	border-radius: 5px;
	height: fit-content;
	top: 50px;
	right: 0;
	z-index: 200;
}

@media screen and (min-width: 765px) {
	div .navbar > .container {
		position: relative;
		align-items: center;
		max-width: 95%;
		margin: 0 auto;
	}
}
